body {
    padding-top: 0;
}

.row {
    margin-top: 70px;
}


#social-media {
    
    
}

#nav1 {

}

.inlineflex {
    display: inline-flex;
    position: relative;
    float: right;
}

#blogpost {
	margin-top: 95px;
}

#sidebar_cats {
	margin-top: 150px;
}